*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: blue;
    width: 100%;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    padding: 10px;
}
.nav-logo a{
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.nav-links a{
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.nav-btn a{
    color: blue;
    background-color: white;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    align-items: center;
}
.btn{
    display: none;
}
aside{
    display: none;
    background-color: blue;
    width: 70%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    padding: 10px;
}
aside button{
    position: absolute;
    right: 5px;
    border: none;
    font-size: 20px;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.nav-links2{
    margin-top: 50px;
    padding: 10px;
    line-height: 50px;
}
.nav-links2>ul{
    margin-top: 10px;
}
.nav-links2 ul li a{
    color: white;
    font-size: 15px;
}
.sublink{
    display: flex;
    align-items: center;
}
.sublink span{
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.sublink img{
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
.nav-btn2 a{
    color: blue;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.acc{
    background-color: blue;
    color: white;
    /* padding: 10px; */
    top: 60%;
    right: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    box-shadow: 2px 1px 1px 1px blue;
}
@media screen and (max-width:699px){
    .btn{
        display: block;
        color: white;
        padding: 8px;
        cursor: pointer;
    }
    .nav-links{
        display: none;
    }
    .nav-btn{
        display: none;
    }
}
